/*-----------------------------------------------*/
/* BASIC SETUP */
/*-----------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}


/*-----------------------------------------------*/
/* REUSABLE COMPONENTS */
/*-----------------------------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}

.box{
    padding: 1%;
}
/*----- HEADINGS -----*/

h1,
h2,
h3,
h4{
    font-weight: 300;
    letter-spacing: 1px;
}

h1{
    margin: 0 0 20px 0;
    color: #fff;
    font-size: 240%;
    word-spacing: 3px;
}
h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}

h4{
    word-spacing: 3px;
    font-size: 70%;
}

h2:after{
    display: block;
    height: 2px;
    background-color: #87D37C;
    content: " ";
    width: 100px;
    margin: 30px auto 0 auto;
}


/*----- PARAGRAPHS -----*/
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}


/*----- ICONS -----*/

.icon-big{
    font-size: 350%;
    display: block;
    color: #87D37C;
    margin-bottom: 10px;
}


/*----- BUTTONS -----*/
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    -ms-transition: background-color 0.2s, border 0.2s, color 0.2s; /* IE 9 */
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s; /* Safari */
    -moz-transition: background-color 0.2s, border 0.2s, color 0.2s; /* Firefox */
    -o-transition: background-color 0.2s, border 0.2s, color 0.2s; /* Opera */
}

.btn-full:link,
.btn-full:visited{
    background-color: #87D37C;
    border: 1px solid #87D37C;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #87D37C;
    color: #87D37C;
}

.btn:hover,
.btn:active{
    background-color: #2ECC71;
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #2ECC71;
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #2ECC71;
    color: #fff;
}


/*-----------------------------------------------*/
/* HEADER */
/*-----------------------------------------------*/

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/sfondo-hp.jpg);
    background-size:cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    -moz-transform: translate(-50%, -50%); /* Firefox */
    -o-transform: translate(-50%, -50%); /* Opera */
}

.title-hp{
    font-style: italic;
}

.sub-title-hp{
    font-style: italic;
    text-align: right;
    color: #afafaf;
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

ul.main-nav{
    float: right;
    list-style: none;
    margin-top:55px; 
}

ul.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

ul.main-nav li a:link,
ul.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

ul.main-nav li a:hover,
ul.main-nav li a:active{
    border-bottom:2px solid #87D37C;
}